{% extends "base_generic.html" %}
{% block content %}
    <div id="about-content">
        <h1> Welcome </h1>
        <p>
            We are two students from UFR MIM University in Metz, France. <br>
            The purpose of this website is to provide you an analysis tool concerning the different CVEs.<br>
            You will be able to see the number of CVE occurrences discussed each day or week on Twitter and thus see what the potential trends are.<br>
            The graphs are updated every 6 hours.
            <br><br>
            This project is available as Open Source at the following address:
            <a href="https://github.com/kuunoh/TwitterCVEGrabber">https://github.com/kuunoh/TwitterCVEGrabber</a>
            <br>
            Due to twitter rate limits, every update need to take place every 6 hours. <br>
            Right after updating, graphs can contains errors or not enough data due to that limit.
            To be sure to have consistent data, please wait few minutes (30 minutes to 1 hour after retrieving should be good) before analyse them.
        </p>
    </div>

{% endblock %}

{% block footer %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% endblock %}